{{#each trendingEmail }}
<div>
    {{#if this.media.0.media-metadata.2.url}}
    <img src="{{ this.media.0.media-metadata.2.url }}" alt="">
    {{/if}}
    <a href="{{ url }}">{{ title }}</a>
</div>
{{/each}}
