<div class="index-container">
    <form action="/search-results" method="GET">
        <input type="text">
        <input type="submit" value="Search" name="q">
    </form>
    <div>
        
    </div>
</div>