<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheet/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/email">Trendingmail</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div>
            <img src="/images/the-new-york-times-logo.png" alt="" width="200px" height="30px">
        </div>
            <a style="padding-left: 150px;">SUBESCRIBE NOW</a>
            <a>LOG IN</a>
    </nav>

    {{{ body }}}


</body>

</html>