<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>NYT-Ironhack</title>
</head>
<body>
    <nav>
        <img src="https://developer.nytimes.com/files/poweredby_nytimes_200c.png?v=1539041473000" alt="">
    </nav>
    <ul>
        <li>Home</li>
        <li>Search</li>
        <li>Most reads</li>
        <li>Most shared news</li>
        <li>About</li>
    </ul>
    {{{body}}}
    <footer>
        <li>Home</li>
        <li>Search</li>
        <li>Most reads</li>
        <li>Most shared news</li>
        <li>About</li>
    </footer>
</body>
</html>