<div class="index-container">
    <div>
        {{#each searchResults}}
            <a href="{{this.web_url}}">{{this.snippet}}</a>
            <img src="{{this.thumbnail_standard}}" alt=""></p>
            <p><a href="{{this.url}}"></a></p>
        {{/each}}
    </div>
</div>
