{{#each trending }}
<div>
    {{!-- {{#if media.0.media-metadata.2.ur}} --}}
    <img src="{{ media.0.media-metadata.2.url }}" alt="">
    {{!-- {{/if}} --}}
    <a href="{{ url }}">{{ title }}</a>
</div>
{{/each}}