<div class="card">
  <div class="thumbnail">
      {{#if this.thumbnail_standard}}
        <img src="{{this.thumbnail_standard}}" alt="{{this.slug_name}}.logo" class="thumbnail-img">
        <div class = 'texts'> 
            <h4>{{this.title}}</h4>
        </div>
      {{/if}}
  </div>

