<div class="card">
  <div class="thumbnail">
      {{#if this.multimedia.2.url}}
        <img src="{{this.multimedia.2.url}}" alt="{{this.slug_name}}.logo" class="thumbnail-img">
        <div class = 'texts'> 
            <h4>{{this.title}}</h4>
        </div>
      {{/if}}
</div>

