<nav>
  <ul>
    <li><a href="/">Página inicial</a></li>
    <li><a href="/trendings">Mais acessadas</a></li>
    <li><a href="/trendings-by-email">Mais compartilhadas</a></li>
    <li><a href="/about">Sobre</a></li>
  </ul>
</nav>
