 <nav class = 'header'>
    <img class = 'mainIMG' src="/images/the-new-york-times-logo.png" alt="theNewYorkTimes.logo">
    <form class = 'input' action = "/search-results">
        <div class = 'notice' >
            <input type="text" name = 'q'>
            <button type="submit">Search</button>
        </div>
    </form>
    <a href="/">Home</a>
</nav>