<div class="card">
  <div class="thumbnail">
        <div class = 'texts'> 
            <h4>{{this.title}}</h4>
            <h5>{{this.abstract}}</h5>
        </div>
        <img src="{{this.media.0.media-metadata.2.url}}" class="thumbnail-img">
</div>