<div class="nav">
  <h2> The New York Times </h2>
  <div class="navigation">
    <form action="/search-results" method="get" class="search-form">
      <label for="q">Search</label>
      <input type="text" name="q" id="q" autocomplete="off">
      <button type="submit">GO</button>
    </form>
    
    <a href="/">HOME</a>
    <a href="/trending">TRENDING</a>
    <a href="/most-shared">MOST SHARED</a>
  </div>
</div>